<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="c:\logs\log.txt"
      internalLogLevel="Trace"
      throwExceptions="true">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target name="fileLogger"
            xsi:type="File"
            fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />

    <target name="databaseLogger"
            xsi:type="Database"
            connectionString="${gdc:item=defaultConnection}"
            commandText="INSERT INTO [dbo].[Log] (
              [Logged],
              [Level],
              [Message],
              [UserName],
              [Url],
              [Exception])
            Values (
              @logged,
              @level,
              @message,
              @username,
              @url,
              @exception);">
      <parameter name ="@logged" layout="${date}" />
      <parameter name ="@level" layout="${level}" />
      <parameter name ="@message" layout="${message}" />
      <parameter name ="@username" layout="${aspnet-User-Identity}" />
      <parameter name ="@url" layout="${aspnet-request-url}" />
      <parameter name ="@exception" layout="${exception:fromat=tostring}" />
    </target>

  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" minlevel="Info" writeTo="databaseLogger" />
    <logger name="*" minlevel="Info" writeTo="fileLogger" />
  </rules>
</nlog>